// Body
$body-bg: #FFFFF4;
$body-color: #2F3640;

// Typography
$font-family-base: 'Lato', sans-serif;
$font-family-cursive: 'lobster', cursive;
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.5;
$font-size-nav-link: $font-size-base * 1.25;
$font-size-blog-span: $font-size-base * 0.9;
$font-size-blog-title: $font-size-base * 2;
$line-height-base: 1.8;
$letter-spacing: 2px;

// Colors
$dark: #2F3640;
$warning: #FFA333;
$primary: #327882;
$secondary: #FFA333;
$navbar-light-color: rgba($primary, .55);

// Margin/Padding
$spacer: 2rem;

//button

