// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Lato', sans-serif;
$font-family-cursive: 'lobser', cursive;
$font-size-base: 1.6rem;
$font-size-title: 2.4rem;
$font-size-logo: 3rem;
$font-size-nav-link: 2.4rem;
$line-height-base: 1.8;
$letter-spacing: 2px;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$primary: #284D5B;
$secondary: #3A808A;
