// Fonts
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

arclicle
body {
    font-family: $font-family-sans-serif;
    color: $primary;
    letter-spacing: $letter-spacing;
}
h1{
    font-family: $font-family-cursive;
    font-size: $font-size-title;
    color: $secondary;
}

h2{
    font-family: $font-family-cursive;
    font-size: $font-size-title;
    color: $secondary;
}

h3{
    font-family: $font-family-cursive;
    font-size: $font-size-title;
    color: $secondary;
}
.navbar-brand {
    font-family: $font-family-cursive;
    font-size: $font-size-title*1.5;
}
.nav-item{
    margin-left: 25px;
    margin-top: 15px;
    font-size: $font-size-title*0.8;
}
.nav-menu{
    text-transform: uppercase;
}
